{% extends 'base.html' %}
{% block cabeza %}
<title>Estadisticas</title>
{% endblock %}
{% block content %}
{% load static %}
    <article class="post">
            <table>
                <th colspan="6">Estadisticas del flujo de turistas a la ciudad de Pereira</th>
                <tr>
                    <td>Turistas Nacionales (al año)</td>
                    <td>Turistas Internacionales (al año)</td>
                    <td>Promedio de visitas al mes (nacional)</td>
                    <td>Promedio de visitas al mes (internacional)</td>
                    <td>Promedio de gastos</td>
                    <td>Se viaja mas comunmente</td>
                </tr>
                <tr>
                    <td>{{ Turi.Numero_T_Nacional_Year }}</td>
                    <td>{{ Turi.Numero_T_Internacional_Year }}  </td>
                    <td>{{Turi.Promedio_T_por_mes_nacional}}</td>
                    <td>{{ Turi.Promedio_T_por_mes_internacional}}</td>
                    <td>{{Turi.Promedio_gastos_G}}</td>
                    <td></td>
                </tr>
            </table>
            <table>
                <th colspan="12">Datos del flujo de turistas a la ciudad de Pereira por mes</th>
                <tr>
                    {% for a in Turi.meses %}
                        <td>{{ a }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for j in Turi.Cantidad_PerMonth %}
                        <td>{{j}} </td>
                    {% endfor %}
            </tr>
            </table>
            <table>
                <th colspan="3">Otros datos</th>
                <tr>
                    <td>Top 5 lugares mas visitados</td>
                    <td>Medios de transportes mas usados</td>
                </tr>
                {%for k, h in Turi.tabla3 %}
                    <tr>
                        <td>{{k}}</td>
                        <td>{{h}}</td>
                    </tr>
                {%endfor%}
            </table>

    </article>
{% endblock %}
