{% extends 'base.html' %}
{% block cabeza %}
<title>Iniciar sesion</title>
{% endblock %}
{% block content %}
{% load static %}
    <article class="post">
            <table>
                <th>Estadisticas del flujo de turistas a la ciudad de Pereira</th>
                <tr>
                    <td>Turistas Nacionales (al año)</td>
                    <td>Turistas Internacionales (al año)</td>
                    <td>Promedio de visitas al mes (nacional)</td>
                    <td>Promedio de visitas al mes (internacional)</td>
                    <td>Promedio de gastos</td>
                    <td>Se viaja mas comunmente</td>
                </tr>
                <tr>
                    <td>{{ Turi.Numero_T_Nacional_Year }}</td>
                    <td>{{ Turi.Numero_T_Internacional_Year }}  </td>
                    <td>{{Turi.Promedio_T_por_mes_nacional}}</td>
                    <td>{{ Turi.Promedio_T_por_mes_internacional}}</td>
                    <td>Turi.Promedio_gastos</td>
                </tr>
            </table>
            <table>
                <th>Datos del flujo de turistas a la ciudad de Pereira por mes</th>
                {% for i in range(12) %}
                    <tr>
                        <td>{{PorMes[0][i]}} </td>
                    </tr>
                    {% for i in range(12) %}
                        <tr>
                            <td>{{PorMes[1][i]}} </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
            <table>
                <th>Otros datos</th>
                <tr>
                    <td>Articulos comunes que traen los visitantes</td>
                    <td>Lugares mas visitados</td>
                    <td>Medios de transportes mas usados</td>
                </tr>
            </table>

    </article>
{% endblock %}
