{% extends 'base.html' %}
{% block cabeza %}
<title>Iniciar sesion</title>
{% endblock %}
{% block content %}
{% load static %}
    <article class="post">
        <p> ¡Vaya! ¿como llegaste aqui compañero?</p>
        <p>Parece que estas un poco lejos de casa</p>
        <p>Estas tierras desoladas donde solo vienen los que han sido exiliados no son exactamente un buen lugar para visitar</p>
        <p>Aqui, dejame ver, ¡Oh!, Vienes de <b>{{ Exiliado }}</b></p>
        <p>Bueno, espero que vivas lo suficiente para ver la salida de este lugar algun dia, hasta luego</p>
    </article>
{% endblock %}
